.home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
}

.home-info{
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.home-buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}