.App {
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p{
  color: white;
  padding: 0;
}

h1{
  color: gold;
}


h5{
  margin: 0;
}

.button1{
  background-color: darkblue;
  color: gold;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 40px;
  padding: 10px;
}

.playButton{
  background-color: gold;
  color: darkblue;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 40px;
  padding: 10px;
}

.button2{
  background-color: gold;
  color: darkblue;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 20px;
  padding: 10px;
}

.button3{
  background-color: gold;
  color: darkblue;
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 16px;
  padding: 8px;
  cursor: pointer;
}

.label{
  background-color: gold;
  color: darkblue;
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 16px;
  padding: 6px;
}

.button4{
  background-color: gold;
  color: darkblue;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 15px;
  padding: 10px;
}

.button1:hover{
  scale: 1.05;
  transition: 1.5s;
}

.playButton:hover{
  scale: 1.05;
  transition: 1.5s;
}

.button2:hover{
  scale: 1.05;
  transition: 1.5s;
}

.button3:hover{
  scale: 1.05;
  transition: 1.5s;
}