.board {
    background-color: black;
    color: gold;
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-height: 100%;
}

table {
    table-layout: fixed;
    width: 90% ;
    margin: 0 auto;
}

.container{
    margin: 20px auto;
    width: fit-content; 
    border: 1px solid gold;
}

.card {
    height: 120px;
    background-color: darkblue;
    color: goldenrod;
    border-radius: 5px;
    margin: 5px;
}

.titleCard {
    height: 120px;
    background-color: darkblue;
    color: white;
    font-style: uppercase;
    border-radius: 5px;
    margin: 5px;
    text-transform: uppercase;
}

.header{
    background-color: black;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

